<legend>Expense: </legend>
<div class="input-prepend">
	<span class="add-on">$</span>
	
	{{ form_widget(expense.amount, 
		{ 'attr': {
						"placeholder" : "Amount",
						"oninvalid" : "setCustomValidity('Numbers only')",
						"onchange" : "try{setCustomValidity('')}catch(e){}",
						"data-toggle" : "tooltip",
						"data-placement" : "right",
						"data-original-title" :"Enter Amount. Number only",
						
				  }
		}
	) }}
</div>
	{{ form_widget(expense.description,
		{ 'attr': {
						"placeholder" : "Description",
						"data-toggle" : "tooltip",
						"data-placement" : "top",
						"data-original-title" :"Enter purpose of spending",
				  }
		}
	) }}
<input type="submit" value=" Add " class="btn btn-primary"/>